footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 18px 0;
}

.social svg{
    transition: 0.4s;
    width: 30px;
    
}
.social svg:hover{
    transform: scale(1.05);
}
